body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

nav {
    background-color: #007BFF;
    /* Azul para a navegação */
}

.nav-link {
    color: #FFD700 !important;
    /* Amarelo para os links */
}

h1,
h2 {
    color: #FFD700;
    /* Amarelo para títulos */
}

section {
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}

footer {
    background-color: #007BFF;
    color: white;
}